@import "../../../../../styles/variables";

::ng-deep .mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab{
  background-color: $white-color;
  margin-bottom: 10px;
}
.example-button-row{
  margin-bottom: 10px;
}

table {
  width: 100%;
}

.cursor {
  cursor: pointer;
}

pagination-controls {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

pagination-controls ::ng-deep .ngx-pagination .current {
  background: $active-color;
  border-radius: 4px;
}

.mat-table {
  background-color: $white-color;
  border-radius: 4px;
}

.mat-cell {
  color: $default-color;
}
